
* {
  box-sizing: border-box;
}

body {
  --columns: 2;
  margin: 0;
  font-family: Arial, sans-serif;
}

.people {
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  padding: 30px 35px;
  grid-template-columns: repeat(var(--columns), 200px);

}

@media (min-width: 1000px) {
  .people{
    --columns: 4;
    padding: 30px 55px;
  }  
}

.person {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s;

  &__photo {
    position: relative;
    
  }

  &__img {
    border-radius: 50%;
    width: 200px;
  }

  &__rank {
    position: absolute;
    top: 84px;
    right: 10px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;

    color: #8B0000;
    background-color: #FFF;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50%;
  }

  &__name {
    font-size: 20px;
    text-align: center;
    color: #2F4F4F;
    font-weight: 700;
  }

  &__extra {
    display: none;
  }

  &__sport {
    font-weight: 400;
    font-size: 21.6px;
    text-align: center;
    color: #000;
    
  }
  &__pay {
    font-weight: 400;
    font-size: 21.6px;
    text-align: center;
    color: #000;
  }

  &:hover {
   background-color: #EEEEEE;
   border-radius: 12px;
   transform: scale(1.2);
   transition: transform 1s;

   & .person__img {
    border-radius: 60px;
    margin: 12px;  
  }

  & .person__rank {
    top: 90px;
    right: 20px;
  }

   & .person__extra {
    display: block;
    margin-bottom: 19.2;
  }

  & .person__name {
    margin-bottom: 10.8px;
  }
}
}